# netbeans
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
**/nbproject/build-impl.xml
**/nbproject/genfiles.properties
**/nbproject/jax-ws.xml
**/nbproject/jaxws-build.xml
**/nbproject/jax-ws.xml
**/nbproject/jaxws-build.xml
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/

# android studio
COVID19TrackerApp/*.iml
COVID19TrackerApp/.gradle
COVID19TrackerApp/local.properties
COVID19TrackerApp/.idea/caches
COVID19TrackerApp/.idea/libraries
COVID19TrackerApp/.idea/modules.xml
COVID19TrackerApp/.idea/workspace.xml
COVID19TrackerApp/.idea/navEditor.xml
COVID19TrackerApp/.idea/assetWizardSettings.xml
COVID19TrackerApp/captures
COVID19TrackerApp/.externalNativeBuild
COVID19TrackerApp/.cxx
COVID19TrackerApp/.project

# common
**/.DS_Store
**/build/