# netbeans
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
**/nbproject/build-impl.xml
**/nbproject/genfiles.properties
**/nbproject/jax-ws.xml
**/nbproject/jaxws-build.xml
**/nbproject/jax-ws.xml
**/nbproject/jaxws-build.xml
**/build/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/

# android studio
**/*.iml
**/.gradle
**/local.properties
**/.idea/caches
**/.idea/libraries
**/.idea/modules.xml
**/.idea/workspace.xml
**/.idea/navEditor.xml
**/.idea/assetWizardSettings.xml
**/.DS_Store
**/build
**/captures
**/.externalNativeBuild
**/.cxx
**/.project
